

// !IMPORTS
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,900')

//!COLORS
$nflixred = #B9090B



// !SIZES
$marqWidth= 50%


// !Fonts
@font-face
 font-family Lato, Arial, sans-serif

$fwLight = 300
$fwNormal = 400
$fwBold = 900



