//Frameworks/Libraries/Extensions/Plugins
@import 'jeet'
@import 'nib'

//Utilities & Mixins
@import 'config.styl'
@import 'mixins.styl'



global-reset()


#marquee-container
 width $marqWidth
 center()
 overflow hidden


  

#marquee-content
 -webkit-backface-visibility none
 border-style none
 li 
  display inline
  img
   border-style none
 