//Frameworks/Libraries/Extensions/Plugins
@import 'jeet'
@import 'nib'

//Utilities & Mixins
@import 'config.styl'
@import 'mixins.styl'



global-reset()



html
 height 100%

.marquee-container
 overflow hidden
 center()
 position relative

.marquee-scroll
 background alpha-color(.5, black)
 width 2.7%
 height 100%
 z-index 1
 position absolute
 &.right 
  right 0
 &.left 
  left 0


.marquee-content
 -webkit-backface-visibility none
 position relative
 height 100%
 li 
  display inline-block
  position relative
  
  
  

 